.hero{
    padding-top: 80px;
}
.audio-part{
    display: flex;
    flex-direction: column;
}
.audio-part>a{
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: #dbdada;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.audio-part>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    border-bottom: 1px solid #CDCDCD;
    padding: 20px 0px;
    cursor: pointer;
}
.audio-part>div:hover h3{
    color: #0042c5;
}
.audio-part>div>div:nth-child(1){
    display: flex;
    align-items: center;
    gap: 32px;
}
.audio-part>div>div:nth-child(1)>img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
}
.audio-part>div>div:nth-child(1)>div{
    display: flex;
    align-items: center;
    gap: 15px;
}
.audio-part>div>div:nth-child(1)>div>button{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #C3CFDA;
    cursor: pointer;
    padding: 10px;
}
.audio-part>div>div:nth-child(1)>div>button>img{
    width: 100%;
}
.audio-part>div>div:nth-child(2){
    display: flex;
    align-items: center;
    gap: 70px;
}
.audio-part>div>div:nth-child(2)>p{
    font-size: 14px;
    font-weight: 400;
    color: #828282;
}
.audio-part>div>div:nth-child(2)>div{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #C5C5C5;
    font-size: 12px;
}
.audio-part>div>div:nth-child(2)>div>img{
    width: 15px;
    object-fit: cover;
}