.surishtiruv{
    padding: 30px 0px;
}
.surishtiruv>.container{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.surishtiruv>.container>div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.surishtiruv>.container>div:nth-child(1) a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
}
.surishtiruv>.container>div:nth-child(1) a>button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background-color: #0C2F75;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.surishtiruv>.container>div:nth-child(1)>div:nth-child(1){
    display: flex;
    align-items: center;
    gap: 21px;
}
.surishtiruv>.container>div>div:nth-child(1) img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}
.surishtiruv>.container>div>div:nth-child(1)>div{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.surishtiruv>.container>div>div:nth-child(1)>div h2{
    font-size: 32px;
    font-weight: 800;
    line-height: 120%;
}
.surishtiruv>.container>div>div:nth-child(1)>div p{
    font-size: 16px;
    line-height: 20px;
}